Run the preprocessing notebook first to gain access to the functions

In [16]:
%run Preprocessing.ipynb

Preprocess is a function that returns a tuple, the first element being the training data, the second is the fares column

In [11]:
numRows = 10000
df = pd.read_csv("../../data/train.csv",nrows=numRows)
df, fares = preprocess(df)

In [12]:
df.head(3)

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_hour
0,-73.844315,40.721317,-73.841614,40.712276,1,2009.454834,17.439167
1,-74.016045,40.711304,-73.979271,40.782005,1,2010.013672,16.871111
2,-73.982735,40.761269,-73.991241,40.750561,2,2011.630127,0.583333

In [13]:
pd.DataFrame(fares.head(3), columns=["fare_amount"])

   fare_amount
0     4.500000
1    16.906250
2     5.699219

Running the scale function scales the data, but only if the incoming data only has the columns ['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'passenger_count', 'pickup_year' , 'pickup_hour'], and only if the data is in that order. This uses the MinMaxScaler.

In [14]:
scale(df).head(3)

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_hour
0,0.385992,0.360659,0.387571,0.356475,0.941176,0.069635,0.726640
1,0.328635,0.355652,0.341446,0.391373,0.941176,0.155700,0.702971
2,0.339761,0.380634,0.337435,0.375636,0.948529,0.404647,0.024306

Running the normalize function normalizes the data, but has the same restrictions as scale

In [15]:
normalize(df).head(3)

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_hour
0,-0.036683,0.020229,-0.036681,0.020224,0.000497,0.998206,0.008663
1,-0.036757,0.020218,-0.036739,0.020253,0.000497,0.998203,0.008378
2,-0.036713,0.020227,-0.036717,0.020222,0.000992,0.998241,0.000289