Run the preprocessing notebook first to gain access to the functions

In [1]:
%run Preprocessing.ipynb

Preprocess is a function that returns a tuple, the first element being the training data, the second is the fares column

In [2]:
numRows = 10000
df = pd.read_csv("../data/train.csv",nrows=numRows)
df, fares = preprocess(df)

In [3]:
df.head(3)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,17,-73.844315,40.721317,-73.841614,40.712276,1
1,16,-74.016045,40.711304,-73.979271,40.782005,1
2,0,-73.982735,40.761269,-73.991241,40.750561,2

In [4]:
pd.DataFrame(fares.head(3), columns=["fare_amount"])

   fare_amount
0     4.500000
1    16.906250
2     5.699219

Running the scale function scales the data, but only if the incoming data only has the columns ['pickup_datetime', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'passenger_count'], and only if the data is in that order.

In [5]:
scale(df).head(3)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,0.739130,0.385992,0.360659,0.387571,0.356475,0.941176
1,0.695652,0.328635,0.355652,0.341446,0.391373,0.941176
2,0.000000,0.339761,0.380634,0.337435,0.375636,0.948529

Running the normalize function normalizes the data, but has the same restrictions as scale

In [6]:
normalize(df).head(3)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,0.141122,-0.613005,0.338041,-0.612983,0.337966,0.008301
1,0.132741,-0.614058,0.337753,-0.613753,0.338339,0.008296
2,0.000000,-0.619233,0.341170,-0.619304,0.341081,0.016740